<br>
<br>

<div class="form-inline" role="form">
<%= form_for Tweet.new do |f| %>
    <p id="input"><%= f.label :name %>
    <%= f.text_field :contributor,:style =>"height:13px", :class => "span2" %>
    <%= f.label :title %>
    <%= f.text_field :title,:style=>"height:20px" %>
    <%= f.hidden_field :idd,:value=> 1 %>
<%= f.submit "投稿" %></p>
<% end %>
 <p><%= link_to "新着順", '/tweets/index' %>
 <%= link_to "いいね順",'/tweets/popularity' %> </p>
</div>



<% @tweets.reverse_each do |tweet| %>

<div id="tweet">
    <h4> <%= tweet.title %></h4>
    <p> <%= tweet.contributor %></p>
    <p><%= tweet.content %></p>
    <p><%= tweet.count.to_s %>
    <p><%= tweet.created_at%></p>
    <%= link_to "いいね", {:btn_id=> "plus", :id => tweet.id.to_i}, :method => :post %>
    <%= link_to "delete", {:btn_id=> "delete", :id => tweet.id.to_i}, :method => :post %>
</div>
<% end %>
